
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Condensed:wght@700&display=swap');



body{
 height: 100vh;
 background: #2349ce;
 background-image: url("../src/Comp/Images/zenbg-1.png");
 background-repeat: repeat-x, repeat;


}

h1{font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;}

  li{font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;}