
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Condensed:wght@700&display=swap');



body{
  background: #a3c1b8;
 background-image: url("../src/Comp/Images/zen.jpg");
 background-size: cover;
}

h1{font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;}

  li{font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;}

    /* .c-ivtLaR-gAaWLG-withChat-true > .c-fikloo {
      width: 50vw !important;
      left:auto !important;
      right:auto !important;
      margin: auto !important;
      position: relative !important;
      bottom: auto;
      top: 150px !important;
    
    } */